<span>{{ title }} app is running!</span>

{{MyFriend1}}  <br>

{{MyFriend2}} <br>

{{MyFriend3}} <br>

{{MyFriend4}} <br>




<table border="1" align="center">
  <tr>
      <td> aqrqrqrqr  </td>

      <td>  aqrqrrrqr </td>

  </tr>

  <tr>
      <td> 

            <table border="1" align="center">
                <tr>
                    <td> aeqweqwe  </td>

                    <td>  aweweqe </td>

                </tr>

                <tr>
                    <td> aeqeeqe  </td>

                    <td> aeqewwq  </td>

                </tr>
            </table>


      </td>

      <td> aqwrrqrqr  </td>

  </tr>
</table>


  <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br>
  <hr>


  <dl>
    <dt>Velocity</dt>
    <dd> it is displacement per unit time. </dd>

    <dt> Acceleration </dt>
    <dd> It is the rate of change of Velocity </dd>

    <dt> Momentum </dt>
    <dd> it is product of velocity and body mass </dd>

    <dt> Force </dt>
    <dd> It is an external agency which tends to change the motion of body </dd>

   


  </dl>


  <img width="2400" height="1600" src="G:\img2\p1.jpg"> <!-- Absolute address -->
	<hr>

	<img width="2400" height="1600"  src="img\p2.jpg">  <!-- relattive address -->
	<hr>

	<img width="2400" height="1600"  src="https://www.edubridgeindia.com/public/assets/mobile_first/site/images/newhmplogo.png">

  <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br>
  <hr>

